body, html {margin: 0; padding: 0; overflow: hidden;}

.dragscroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
    position: relative;
}

.content{
    width: 4000px; 
    height: 2500px;
    background: url('/image/bg.jpg') no-repeat center center;
    background-size: cover;
}

.loading {
    background-image: url(/image/loder.jpg);
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.wave {
    position: absolute;
    bottom: 3%;
    top: 75%;
    left: -60%;
    background: black;
    width: 4500px;
    height: 4000px;
    border-radius: 35%;
    transition-duration: 0.75s;
    transition-property: margin-bottom;
    transition-timing-function: ease;
    animation: rotate 4300ms infinite linear, up 3100ms infinite linear;
  }

  
@keyframes rotate {
    from { transform: rotate(0deg);
 }
    from { transform: rotate(-360deg); 
}
  }

@keyframes up {
    0% {
        top: 85%;
    }
    50% {
        top: 55%;
    }
    100% {
        top: 0%;
    }
}
  
.loadingText {
    font-size: 4rem;
    color: white;
    position: absolute;
    right: 86px;
    bottom: 69px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.intro {
    background-image: url(/image/intro.jpg);
    width: 100%;
    height: 100%;
    position: fixed; 
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 100; 
    cursor: pointer; 
    transition: opacity 0.5s ease;
    z-index: 101;
}

.mainContent {
    display: none;
}

.show-mainContent {
    display: block;
    opacity: 1;

}

.hide-loading {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}




/******************content*******************/
.redCapParent {
    position: relative;
    z-index: 2;
    width: 20vh;
    height: 20vh;
    left: 16vh;
    top: 101vh;
    background-color: transparent;
}
.belt1 {
    background-image: url(/image/belt1.png);
    width: 589px;
    height: 731px;
    position: absolute;
    background-position: center;
    left: -70px;
    top: 552px;
    z-index: 50;
}
.belt2 {
    background-image: url(/image/belt2.png);
    width: 581px;
    height: 287px;
    position: absolute;
    background-position: center;
    left: 347px;
    top: 525px;
    z-index: 50;
}
.belt3 {
    background-image: url(/image/belt3.png);
    width: 581px;
    height: 287px;
    position: absolute;
    background-position: center;
    left: 405px;
    top: 149px;
    z-index: 50;
}
.belt4{
    background-image: url(/image/belt4.png);
    width: 581px;
    height: 494px;
    position: absolute;
    background-position: center;
    left: 743px;
    top: 368px;
    z-index: 50;
}
.belt5{
    background-image: url(/image/belt5.png);
    width: 934px;
    height: 494px;
    position: absolute;
    background-position: center;
    left: 961px;
    top: 138px;
    z-index: 50;
}
.belt6 {
    background-image: url(/image/belt6.png);
    width: 934px;
    height: 494px;
    position: absolute;
    background-position: center;
    left: 188px;
    top: 1699px;
    z-index: 50;
}
.belt7 {
    background-image: url(/image/belt7.png);
    width: 934px;
    height: 494px;
    position: absolute;
    background-position: center;
    left: 1351px;
    top: 1812px;
    z-index: 50;
}
.belt8 {
    background-image: url(/image/belt8.png);
    width: 1000px;
    height: 700px;
    position: absolute;
    background-position: center;
    left: 583px;
    top: 1072px;
    z-index: 50;
}
.belt9 {
    background-image: url(/image/belt10.png);
    width: 1594px;
    height: 1168px;
    position: absolute;
    background-position: center;
    left: 583px;
    top: 447px;
    z-index: 50;
}
.redCap1 {
    background-image: url(/image/cap1.png);
    width: 368px;
    height: 249px;
    position: absolute;
    background-position: center;
    left: 24px;
    top: 821px;
    animation: front 4s forwards infinite ;
}

@keyframes front {
    100% {
        left: 860px;
        top: 1312px;

    }
}
/* .redCap2 {
    background-image: url(/image/cap1.png);
    width: 150px;
    height: 150px;
    position: absolute;
    background-position: center;
    left: 57px;
    top: 825px;
    animation: front 10s forwards infinite ;
}

@keyframes front {
    100% {
        left: 650px;
        top: 1175px; 

    }
} */

.whiteCap1 {
    background-image: url(/image/cap13.png);
    width: 385px;
    height: 213px;
    position: absolute;
    background-position: center;
    left: 748px;
    top: 527px;
    animation: front2 4s forwards infinite ;
}

@keyframes front2 {
    100% {
        left: 1348px;
        top: 892px;
    }
}
.men{
    background-image: url(/image/men.png);
    width: 240px;
    height: 203px;
    position: absolute;
    background-position: center;
    left: 1202px;
    top: 800px;
}

.topCap1 {
    background-image: url(/image/cap14.png);
    width: 457px;
    height: 261px;
    position: absolute;
    background-position: center;
    left: 845px;
    top: 217px;
    animation: front3 4s forwards infinite ;
}

@keyframes front3 {
    100% {left: 1642px;
        top: 672px;}
}

.blackCap1 {
    background-image: url(/image/cap4.png);
    width: 118px;
    height: 160px;
    position: absolute;
    background-position: center;
    left: 530px;
    top: 262px;
    animation: front4 5s forwards infinite ;
}

@keyframes front4 {
    50%{
        left: 238px;
        top: 440px;
    }
    100% {
        left: 556px;
        top: 611px;
    }
}

.redCapTap {
    background-image: url(/image/tap.png);
    width: 118px;
    height: 160px;
    position: absolute;
    background-position: center;
    left: 311px;
    top: 587px;
    animation: top 0.8s forwards infinite ;
    z-index: 100;
}

@keyframes top {
    100% {
        top: 548px; ;
        scale: 1.2;
    }
}

.whiteCapTap {
    background-image: url(/image/tap.png);
    width: 118px;
    height: 160px;
    position: absolute;
    background-position: center;
    left: 1078px;
    top: 286px;
    animation: top1 0.8s forwards infinite ;
    z-index: 100;
}

@keyframes top1 {
    100% {
        top: 259px;
        scale: 1.1;
    }
}

.topCapTap {
    background-image: url(/image/tap.png);
    width: 118px;
    height: 160px;
    position: absolute;
    background-position: center;
    left: 1202px;
    top: 33px;
    animation: top2 0.8s forwards infinite ;
}

@keyframes top2 {
    100% {
        top: -9px;
        scale: 1.1;
    }
}

.bottomCapTap {
    background-image: url(/image/tap.png);
    width: 118px;
    height: 160px;
    position: absolute;
    background-position: center;
    left: 123px;
    top: 1320px;
    animation: top3 0.8s forwards infinite ;
}

@keyframes top3 {
    100% {
        top: 1292px;
        scale: 1.1;
    }
}
.cap10{
    background-image: url(/image/cap10.png);
    width: 657px;
    height: 234px;
    position: absolute;
    background-position: center;
    left: 392px;
    top: 1961px;
    animation: front8 4s forwards infinite;
}
@keyframes front8 {
    100% {left: 586px;
        top: 1844px;}
}

.cap11 {
    background-image: url(/image/cap11.png);
    width: 163px;
    height: 234px;
    position: absolute;
    background-position: center;
    left: 538px;
    top: 1784px;
    animation: front9 6s ease infinite;
}
@keyframes front9 {
    50% {       left: 1200px;
        top: 2143px;}

    100%{       left: 1522px;
        top: 1962px;
    }
}


.main{
    background-image: url(/image/main.png);
    width: 647px;
    height: 554px;
    position: absolute;
    background-position: center;
    left: 1788px;
    top: 741px;
    z-index: 100;
    animation: rotation 2s forwards infinite ;
}

@keyframes rotation {
    100% {rotate: -4deg;}
}

.mainCup {
    background-image: url(/image/mainCup.png);
    width: 251px;
    height: 210px;
    position: absolute;
    background-position: center;
    left: 1695px;
    top: 1181px;
    animation: rotation1 2s forwards infinite ;
}

@keyframes rotation1 {
    0% {transform: rotateX(20deg);}
    100% {  transform: rotateX(0deg);  }
}


.redCir {
    background-image: url(/image/redCir.png);
    width: 100px;
    height: 111px;
    position: absolute;
    background-position: center;
    left: 2581px;
    top: 298px;
}

.pinkCir {
    background-image: url(/image/pinkCir.png);
    width: 100px;
    height: 121px;
    position: absolute;
    background-position: center;
    left: 2633px;
    top: 304px;
}

.blueCir {
    background-image: url(/image/blueCir.png);
    width: 100px;
    height: 122px;
    position: absolute;
    background-position: center;
    left: 2713px;
    top: 258px;
}


.greenCir {
    background-image: url(/image/greenCir.png);
    width: 100px;
    height: 118px;
    position: absolute;
    background-position: center;
    left: 2795px;
    top: 213px;
}

.brownCir {
    background-image: url(/image/brownCir.png);
    width: 100px;
    height: 120px;
    position: absolute;
    background-position: center;
    left: 2881px;
    top: 165px;
}

.triangular {
    background-image: url(/image/triangular.png);
    width: 100px;
    height: 120px;
    position: absolute;
    background-position: center;
    left: 2723px;
    top: 186px;
}

.topRightCap1 {
    background-image: url(/image/cap5.png);
    width: 100px;
    height: 120px;
    position: absolute;
    background-position: center;
    left: 3085px;
    top: 695px;
    animation: front5 5s forwards infinite;
}
@keyframes front5 {
    10% {    left: 3085px;
        top: 820px;}
    80% {left: 3569px;
        top: 1104px;}
    100% {left: 3434px;
        top: 1223px;}
}

.silver {
    background-image: url(/image/silver.png);
    width: 500px;
    height: 502px;
    position: absolute;
    background-position: center;
    z-index: 5;
    left: 2879px;
    top: 546px;
}

.topRightMediumCap1 {
    background-image: url(/image/cap5.png);
    width: 100px;
    height: 120px;
    position: absolute;
    background-position: center;
    left: 3390px;
    top: 1247px;
    /* animation: front6 5s forwards infinite; */
}

@keyframes front6 {
    50% {
        right: -1345px;
        top: 1364px
    }
    100% {
        right: -1575px;
        top: 1247px;
    }
}

.topRightLastCap1 {
    background-image: url(/image/cap6.png);
    width: 138px;
    height: 152px;
    position: absolute;
    background-position: center;
    left: 2902px;
    top: 1452px;
    animation: front7 5s forwards infinite;
}

@keyframes front7 {
    30% {
        left: 2790px;
        top: 1535px;
    }
    100% {    left: 3180px;
        top: 1790px;}
}

.topRightPageCap{
    background-image: url(/image/cap7.png);
    width: 472px;
    height: 426px;
    position: absolute;
    background-position: center;
    left: 3127px;
    top: 1512px;
}

.topRightPageCapTap {
    background-image: url(/image/tap.png);
    width: 118px;
    height: 160px;
    position: absolute;
    background-position: center;
    left: 3306px;
    top: 1417px;
    animation: top4 0.8s forwards infinite ;
}

@keyframes top4 {
    100% {
        top: 1379px;
        scale: 1.1;
    }
}

.cap8{
    background-image: url(/image/cap8.png);
    width: 100px;
    height: 120px;
    position: absolute;
    background-position: center;
    left: 3000px;
    top: 1488px;
    animation: rotation3 1s forwards infinite;
}
@keyframes rotation3 {
    100% {transform: rotateZ(20deg);}
}

.cap9{
    background-image: url(/image/cap9.png);
    width: 100px;
    height: 120px;
    position: absolute;
    background-position: center;
    left: 2888px;
    top: 1441px;
    animation: rotation2 1s forwards infinite;
}
@keyframes rotation2 {
    100% {transform: rotateZ(20deg);}
}

.crap1{
    background-image: url(/image/crap1.png);
    width: 184px;
    height: 160px;
    position: absolute;
    background-position: center;
    left: 2955px;
    top: 1379px;

}



/************************page**********************/

#page1 {
    background-image: url(/image/page1.png);
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    display: none;
}

.x {
    background-image: url(/image/x.png);
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1001;
    display: none;
    top: 20px;
    left: 1850px;

}

#page2 {
    background-image: url(/image/page2.png);
    background-position: center;
    width: 916px;
    height: 594px;
    position: absolute;
    z-index: 1000;
    top: 1619px;
    left: 380px;
    display: none;
}

#page3{
    background-image: url(/image/page3.png) ;
    background-repeat: no-repeat;
    width: 1200px;
    height: 640px;
    position: absolute;
    z-index: 1000;
    display: none;
    top: 1319px;
    left: 2172px;
}

.backPage3 {
    background-image: url(/image/page3-1.png) ;
    background-repeat: no-repeat;
    width: 1200px;
    height: 640px;
    position: absolute;
    z-index: 1000;
    display: none;
    top: 1319px;
    left: 2172px;
}

.text {
    background-image: url(/image/backTable.png);
    background-position: center;
    width: 153px;
    height: 45px;
    position: absolute;
    z-index: 1001;
    top: 526px;
    left: 111px;
    display: none;
}

.x_1 {
    background-image: url(/image/x-1.png);
    background-position: center;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1001;
    top: 1373px;
    left: 3175px;
    display: none;
}